<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>VAI ARRUMAR UM EMPREGO<a target="_blank" rel="noopener noreferrer" href="https://br.linkedin.com/">clica aqui </a></p>
  </div>

  <div id="button"><ion-button expand="block" (click)="exibirMensagem()">clique aqui</ion-button>
    <ion-item>
      <ion-label> </ion-label>
      <ion-input value={{mensagem}} [readonly]="true" ></ion-input>
    </ion-item>
  </div>
</ion-content>
